.App {
  text-align: center;
}

.App-header {
  background-color: #102c64;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

i{
  font-size: calc(50px + 10vmin);
}
button{ 
  display: block;
  cursor: pointer;
  font-family: -apple-system;
  font-weight: bold;
 margin: 15px auto
}
